@model List<TrackingSheet.Models.ProblemTypeStatisticsViewModel>

@{
    ViewData["Title"] = "Статистика инцидентов";

    // Подсчет суммарного количества
    int totalCount = Model?.Sum(item => item.Count) ?? 0;
    int totalSuccessCount = Model?.Sum(item => item.SuccessCount) ?? 0;
    int totalFailCount = Model?.Sum(item => item.FailCount) ?? 0;
    int totalSavedNPTCount = Model?.Sum(item => item.SavedNPTCount) ?? 0;
    int totalSuccessFailCount = totalSuccessCount + totalFailCount;

    // Сериализуем модель в JSON для использования в JavaScript
    var jsonSettings = new Newtonsoft.Json.JsonSerializerSettings
            {
                ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
            };
    var jsonData = Newtonsoft.Json.JsonConvert.SerializeObject(Model, jsonSettings);

    // Получаем выбранные значения года и квартала из ViewData
    var selectedYear = ViewData["SelectedYear"] != null ? ViewData["SelectedYear"].ToString() : DateTime.Now.Year.ToString();
    var selectedQuarter = ViewData["SelectedQuarter"] != null ? ViewData["SelectedQuarter"].ToString() : "1";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Ваши мета-теги и подключения стилей и скриптов -->
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <!-- Подключение необходимых скриптов -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <h1>Статистика инцидентов</h1>

    <!-- Форма выбора периода -->
    <section class="table__header">
        <form asp-controller="IncidentsStatistics" asp-action="IncidentsStatistics" method="post" class="table__header">
            <!-- Блок выбора года -->
            <div class="year-group">
                <label for="year">Год</label>
                <input type="number" id="year" name="year" class="form-control" value="@selectedYear" required />
            </div>

            <!-- Блок переключения кварталов -->
            <div class="toggle-switch">
                @for (int i = 1; i <= 4; i++)
                {
                    <input type="radio" id="@($"{i}-quart")" name="quarter" value="@i" @(selectedQuarter == i.ToString() ? "checked" : "")>
                    <label for="@($"{i}-quart")" class="toggle-label">@($"{i}-й квартал")</label>
                }
            </div>

            <!-- Кнопка отправки формы -->
            <div class="button-container-stat">
                <button type="submit" class="btn btn-primary">Показать статистику</button>
            </div>
        </form>
    </section>

    @if (Model != null && Model.Any())
    {
        <div class="statistics_container">
            <div class="table_container">
                <section class="table__body">
                    <table style="font-size: 14px; line-height: 1.2;">
                        <thead>
                            <tr style="line-height: 1.2; font-size: 14px;">
                                <th style="width: 20%; font-weight: bold;">Тип проблемы</th>
                                <th style="width: 15%;">Количество обращений</th>
                                <th style="width: 15%;">Закрытых</th>
                                <th style="width: 15%;">Успешно</th>
                                <th style="width: 15%;">Неуспешно</th>
                                <th style="width: 20%;">Сохраненное НПВ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="line-height: 1.2;">
                                    <td style="padding: 4px; font-weight: bold;">@item.ProblemType</td>
                                    <td style="padding: 4px;">@item.Count</td>
                                    <td style="padding: 4px;">@(item.SuccessCount + item.FailCount)</td>
                                    <td style="padding: 4px;"><p class="status success">@item.SuccessCount</p></td>
                                    <td style="padding: 4px;"><p class="status failed">@item.FailCount</p></td>
                                    <td style="padding: 4px;">@item.SavedNPTCount</td>
                                </tr>
                            }
                            <tr style="line-height: 1.2;">
                                <td><strong>Итого</strong></td>
                                <td><strong>@totalCount</strong></td>
                                <td><strong>@totalSuccessFailCount</strong></td>
                                <td><p class="status success"><strong>@totalSuccessCount</strong></p></td>
                                <td><p class="status failed"><strong>@totalFailCount</strong></p></td>
                                <td><strong>@totalSavedNPTCount</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="chart_container" style="margin-top: 40px; font-family: 'Gilroy-Bold';">
                <div class="card">
                    <div class="card-header">
                        <!-- Заголовок карты, если необходим -->
                    </div>
                    <div class="card-body" style="width: 90%; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <!-- Заголовок карты, если необходим -->
                    </div>
                    <div class="card-body" style="width: 70%; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Передаем данные модели в JavaScript -->
        <script>
            var chartData = @Html.Raw(jsonData);
        </script>
        <script src="~/js/statistics.js" defer></script>
    }
    else
    {
       
    }
</body>
</html>
