@{
    ViewData["Title"] = "Журнал инцидентов";

}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Подключаем библиотеки -->

    <script src="@Url.Content("~/vendor/jquery/dist/jquery.js")"></script>
    <script src="@Url.Content("~/vendor/datatables.net/js/dataTables.js")"></script>
    <script src="@Url.Content("~/vendor/datatables.net-buttons/js/dataTables.buttons.js")"></script>
    <script src="@Url.Content("~/vendor/datatables.net-buttons-dt/js/buttons.dataTables.js")"></script>
    <script src="@Url.Content("~/vendor/datatables.net-select/js/dataTables.select.js")"></script>
    <script src="@Url.Content("~/vendor/datatables.net-select-dt/js/select.dataTables.js")"></script>
    <script src="@Url.Content("~/vendor/datatables.net-datetime/dist/dataTables.dateTime.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/vendor/datatables.net-buttons-dt/css/buttons.dataTables.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/datatables.net-select-dt/css/select.dataTables.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/datatables.net-datetime/dist/dataTables.dateTime.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendor/datatables.net-dt/css/dataTables.dataTables.css")">

    <!-- Подключаем библиотеки для сортировки по времени -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>


    <!-- Подключаем библиотеки для работы с Excel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <!-- Подключаем JavaScript файл с логикой -->
    <script src="@Url.Content("~/js/journal_incident.js")"></script>

    <!-- Стиль для кнопки экспорта -->
    <style>
        .export-button-container {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

            .export-button-container button {
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                transition: transform 0.2s;
            }

                .export-button-container button:hover {
                    transform: scale(1.1);
                }

            .export-button-container img {
                height: 32px; /* Размер иконки Excel */
                width: auto;
            }

        .export-label {
            font-size: 24px; /* Размер шрифта для текста "Экспорт" */
            margin-right: 10px;
            font-weight: bold;
        }

        #date-range-filter {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1 style="display: flex; justify-content: space-between; align-items: center;">
        <span>Журнал инцидентов</span>
        <div class="export-button-container">
            <span class="export-label">Экспорт</span>
            <button id="exportToExcel" title="Экспортировать в Excel">
                <img src="@Url.Content("~/img/excel.png")" alt="Экспорт в Excel">
            </button>
        </div>
    </h1>

    <div id="date-range-filter" style="margin-bottom: 10px; justify-content: center; align-items:center; display: flex">
        <label for="min-date">Сортириовка по дате</label>
        <span style="margin: 0 5px;"></span> <input type="date" id="min-date">
        <label for="max-date">-</label>
        <span style="margin: 0 5px;"></span> <input type="date" id="max-date">
    </div>

    <div class="table_container">
        <section class="table__body">
            <table id="journal_table" class="display">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>