@model TrackingSheet.Models.UpdateIncidentViewModel

@{
    ViewData["Title"] = "Редактирование инцидента";
    var reporter = TempData.Peek("Login") as string ?? string.Empty;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="~/js/editing_incident.js" defer></script>
</head>

<body>
    <form method="post" action="@Url.Action("View", "Incidents")" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="header_incident_editing">
            <div>
                <h1><label>Редактирование инцидента</label></h1>
                <h2><label>Внесите изменения, добавьте комментарий или удалите инцидент</label></h2>
            </div>
            <div class="incident_editing_buttons">
                <div class="add_file_container">
                    <input type="file" id="fileInput" class="file-input" multiple onchange="handleFileSelect(event)">
                    <label for="fileInput" class="file-button">
                        <svg class="icon_addfile" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 7V6.8C20 5.11984 20 4.27976 19.673 3.63803C19.3854 3.07354 18.9265 2.6146 18.362 2.32698C17.7202 2 16.8802 2 15.2 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.11984 22 8.8 22H12.5M12.5 11H8M11.5 15H8M16 7H8M18 18V12.5C18 11.6716 18.6716 11 19.5 11C20.3284 11 21 11.6716 21 12.5V18C21 19.6569 19.6569 21 18 21C16.3431 21 15 19.6569 15 18V14"></path>
                        </svg>
                    </label>
                </div>

                <div class="add_file_container">
                    <input id="openModalButton" type="button" style="display:none;">
                    <label for="openModalButton" class="file-button" onclick="openModal()">
                        <svg class="icon_addfile" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 10.5V6.8C20 5.11984 20 4.27976 19.673 3.63803C19.3854 3.07354 18.9265 2.6146 18.362 2.32698C17.7202 2 16.8802 2 15.2 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.11984 22 8.8 22H12M14 11H8M10 15H8M16 7H8M18 21V15M15 18H21"></path>
                        </svg>
                    </label>
                </div>

                <div class="add_file_container">
                    <label class="file-button-delete" onclick="confirmDelete('@Url.Action("Delete", "Incidents", new { id = Model.ID })')">
                        <svg class="icon_addfile" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 11H8M10 15H8M16 7H8M20 12V6.8C20 5.11984 20 4.27976 19.673 3.63803C19.3854 3.07354 18.9265 2.6146 18.362 2.32698C17.7202 2 16.8802 2 15.2 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.11984 22 8.8 22H12M16 16L21 21M21 16L16 21"></path>
                        </svg>
                    </label>
                </div>
            </div>

        </div>

        <div class="container-new-incident">
            <!-- Поля ввода данных инцидента -->
            <!-- Левый блок -->
            <div class="left">
                <div class="editing-date-field">
                    <div class="input-field">
                        <label for="Date" class="form-label">Дата начала</label>
                        <input type="datetime-local" class="form-control form-control-sm" asp-for="Date" />
                    </div>
                    <div class="input-field">
                        <label for="DateEnd" class="form-label">Дата конца</label>
                        <input type="datetime-local" class="form-control form-control-sm" asp-for="DateEnd" />
                    </div>
                </div>
                <div class="input-field">
                    <label class="form-label">Смена</label>
                    <div class="select-wrapper">
                        <select class="custom-select" asp-for="Shift">
                        <option value="Day">День</option>
                        <option value="Night">Ночь</option>
                        </select>
                        <div class="select-arrow">
                            <svg class="icon_dropdown_arrow" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 9L12 15L18 9"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <label for="Reporter" class="form-label">431</label>
                    <input type="text" class="form-control form-control-sm" asp-for="Reporter" />
                </div>
                <div class="input-field">
                    <label for="VSAT" class="form-label" min="0">VSAT</label>
                    <input type="number" class="form-control form-control-sm" asp-for="VSAT" />
                </div>
                <div class="input-field">
                    <label for="Well" class="form-label">Скважина</label>
                    <input type="text" class="form-control form-control-sm" asp-for="Well" />
                </div>
                <div class="input-field">
                    <label for="Run" class="form-label">Рейс</label>
                    <input type="number" class="form-control form-control-sm" min="0" asp-for="Run" />
                </div>
                <div class="input-field">
                    <label for="SavedNPT" class="form-label">Сохраненное НПВ, ч</label>
                    <input type="number" class="form-control form-control-sm" asp-for="SavedNPT" />
                </div>
                <div class="input-field">
                    <label class="form-label">Тип проблемы</label>
                    <div class="select-wrapper">
                        <select asp-for="ProblemType">
                            <option value="Advantage">Advantage</option>
                            <option value="ATK issue">ATK issue</option>
                            <option value="APS">APS</option>
                            <option value="BCPM II">BCPM II</option>
                            <option value="Cadence">Cadence</option>
                            <option value="Computer">Computer</option>
                            <option value="Curve Failure">Curve Failure</option>
                            <option value="Decoding">Decoding</option>
                            <option value="Desync">Desync</option>
                            <option value="Downlink">Downlink</option>
                            <option value="LTK">LTK</option>
                            <option value="M30">M30</option>
                            <option value="Memfix">Memfix</option>
                            <option value="Organization">Organisation</option>
                            <option value="OTK">OTK</option>
                            <option value="Pressure">Pressure</option>
                            <option value="Procedures">Procedures</option>
                            <option value="Programming | Tip">Programming | Tip</option>
                            <option value="Pulser issue">Pulser issue</option>
                            <option value="Service delivery">Service delivery</option>
                            <option value="Surface issue">Surface issue</option>
                            <option value="Survey issue">Survey issue</option>
                            <option value="UsMPR">UsMPR</option>
                            <option value="WellArchitect">WellArchitect</option>
                            <option value="Win10">Win10</option>
                            <option value="WITS">WITS</option>
                            <option value="Other">Other</option>
                        </select>
                        <div class="select-arrow">
                            <svg class="icon_dropdown_arrow" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 9L12 15L18 9" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <label class="form-label">Отметка</label>
                    <div class="select-wrapper">
                        <select asp-for="HighLight">
                            <option value=""></option>
                            <option value="🚩">🚩</option>
                        </select>
                        <div class="select-arrow">
                            <svg class="icon_dropdown_arrow" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 9L12 15L18 9" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <label class="form-label">Статус</label>
                    <div class="select-wrapper">
                        <select asp-for="Status" id="status-select">
                            <option value="Success">Success</option>
                            <option value="Process">Process</option>
                            <option value="Fail">Fail</option>
                            <option value="None">None</option>
                        </select>
                        <div class="select-arrow">
                            <svg class="icon_dropdown_arrow" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 9L12 15L18 9" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Правый блок -->
            <div class="right">
                <div class="description">
                    <div class="input-field">
                        <label for="Solution" class="form-label">Описание инцидента:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" asp-for="Solution"></textarea>
                    </div>
                </div>

                <!-- Секция для отображения обновлений инцидента -->
                <div class="incident-updates">
                    @if (Model.Updates != null && Model.Updates.Any())
                    {
                        <h4>Обновления инцидента:</h4>
                        <ul>
                            @foreach (var update in Model.Updates.OrderByDescending(u => u.Date))
                            {
                                <li>
                                    <div>@update.Date.ToString("dd.MM.yyyy HH:mm")- @update.UpdateReporter</div>
                                    <div>Рейс: @update.Run</div>
                                    <div>@update.UpdateSolution</div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Обновлений нет.</p>
                    }
                </div>

                <div class="attachments">
                    <!-- Элемент для предварительного просмотра загруженных файлов -->
                    <div class="file-preview" id="filePreview"></div>

                    <!-- Отображение загруженных файлов -->
                    @{
                        var incidentFolder = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "uploads", Model.ID.ToString());
                        var filesExist = System.IO.Directory.Exists(incidentFolder) && System.IO.Directory.GetFiles(incidentFolder).Length > 0;
                    }

                    @if (filesExist)
                    {
                        <h4>Вложенные файлы:</h4>
                        <div class="file-list">
                            @foreach (var file in System.IO.Directory.GetFiles(incidentFolder))
                            {
                                var fileName = System.IO.Path.GetFileName(file);
                                var fileUrl = Url.Content($"~/uploads/{Model.ID}/{fileName}");

                                <div class="file-item">
                                    <a href="@fileUrl" target="_blank" title="@fileName">
                                        <i class="fas fa-file-alt"></i>
                                    </a>
                                    <span class="file-name">@fileName</span>
                                    <button type="button" class="delete-icon" onclick="deleteFile('@fileName', '@Model.ID')" >
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>Файлы не найдены.</p>
                    }
                </div>
            </div>

        </div>


        <div class="button-container">
            <button type="submit" class="btn btn-primary btn-lg">
                <svg class="icon_plus" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 15L8 17L12.5 12.5M8 8V5.2C8 4.0799 8 3.51984 8.21799 3.09202C8.40973 2.71569 8.71569 2.40973 9.09202 2.21799C9.51984 2 10.0799 2 11.2 2H18.8C19.9201 2 20.4802 2 20.908 2.21799C21.2843 2.40973 21.5903 2.71569 21.782 3.09202C22 3.51984 22 4.0799 22 5.2V12.8C22 13.9201 22 14.4802 21.782 14.908C21.5903 15.2843 21.2843 15.5903 20.908 15.782C20.4802 16 19.9201 16 18.8 16H16M5.2 22H12.8C13.9201 22 14.4802 22 14.908 21.782C15.2843 21.5903 15.5903 21.2843 15.782 20.908C16 20.4802 16 19.9201 16 18.8V11.2C16 10.0799 16 9.51984 15.782 9.09202C15.5903 8.71569 15.2843 8.40973 14.908 8.21799C14.4802 8 13.9201 8 12.8 8H5.2C4.0799 8 3.51984 8 3.09202 8.21799C2.71569 8.40973 2.40973 8.71569 2.21799 9.09202C2 9.51984 2 10.0799 2 11.2V18.8C2 19.9201 2 20.4802 2.21799 20.908C2.40973 21.2843 2.71569 21.5903 3.09202 21.782C3.51984 22 4.07989 22 5.2 22Z"></path>
                </svg>
                Сохранить
            </button>
        </div>
    </form>


    <script>
        // Функция для удаления файла
        function deleteFile(fileName, incidentId) {
            if (confirm('Вы уверены, что хотите удалить этот файл?')) {
                fetch(`/Incidents/DeleteFile?fileName=${encodeURIComponent(fileName)}&incidentId=${incidentId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Файл успешно удален.');
                            location.reload(); // Полная перезагрузка страницы после удаления файла
                        } else {
                            alert('Ошибка при удалении файла: ' + (data.message || 'Неизвестная ошибка.'));
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка:', error);
                        alert('Ошибка при удалении файла.');
                    });
            }
        }

        // Функция для обработки выбора файла
        function handleFileSelect(event) {
            console.log('handleFileSelect called');
            console.log('Selected file:', event.target.files[0]);

            // Используем setTimeout для отсрочки нажатия кнопки "Сохранить"
            setTimeout(function () {
                var submitButton = document.querySelector('button[type="submit"]');
                if (submitButton) {
                    console.log('Submitting form...');
                    submitButton.click();
                } else {
                    console.error('Submit button not found');
                }
            }, 100); // Задержка в 100 мс для уверенности, что файл выбран
        }

        // Обработчик событий после загрузки DOM
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById("incidentUpdateModal");
            var btn = document.getElementById("openModalButton");
            var span = document.getElementsByClassName("close-modal")[0];

            // Обработчик открытия модального окна
            btn.onclick = function (event) {
                event.preventDefault();

                // Отображаем модальное окно
                modal.style.display = "block";

                // Теперь ищем форму внутри модального окна после его открытия
                var updateForm = document.getElementById("incidentUpdateForm");
                if (!updateForm) {
                    console.error('Форма с ID "incidentUpdateForm" не найдена.');
                    return;
                }

                var updateDate = document.getElementById("updateDate");
                var updateReporter = document.getElementById("updateReporter");
                var updateRun = document.getElementById("updateRun");
                var updateSolution = document.getElementById("updateSolution");

                // Получаем дату с учётом смещения +5 часов
                var dateWithOffset = getDateWithTimezoneOffset(5);
                updateDate.value = dateWithOffset;
                updateReporter.value = "@reporter";
                updateRun.value = "@Model.Run";
                updateSolution.value = "";

                // Обработчик отправки формы
                updateForm.onsubmit = function (event) {
                    event.preventDefault();

                    var formData = {
                        IncidentID: "@Model.ID",
                        Date: updateDate.value,
                        UpdateReporter: updateReporter.value,
                        Run: updateRun.value,
                        UpdateSolution: updateSolution.value
                    };
                    console.log('Отправляемые данные:', formData);

                    fetch('@Url.Action("AddUpdate", "Incidents")', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': getAntiForgeryToken()
                        },
                        body: JSON.stringify(formData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('Инцидент успешно обновлен.');
                                modal.style.display = "none";
                                location.reload();
                            } else {
                                alert('Ошибка при обновлении инцидента: ' + data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Ошибка:', error);
                            alert('Произошла ошибка при обновлении инцидента.');
                        });
                };

                // Обработчик для закрытия модального окна
                document.getElementById('cancelUpdateButton').onclick = function () {
                    modal.style.display = "none";
                };
            };

            // Обработчик закрытия модального окна по клику на крестик
            span.onclick = function () {
                modal.style.display = "none";
            }

            // Обработчик закрытия модального окна при клике вне его области
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Функция для получения CSRF-токена
            function getAntiForgeryToken() {
                var tokenElement = document.querySelector('input[name="__RequestVerificationToken"]');
                return tokenElement ? tokenElement.value : '';
            }

            // Функция для получения даты с учётом смещения часового пояса
            function getDateWithTimezoneOffset(offset) {
                var currentDate = new Date();
                var utcTime = currentDate.getTime() + (currentDate.getTimezoneOffset() * 60000);
                var targetTime = utcTime + (offset * 3600000);
                var targetDate = new Date(targetTime);

                var year = targetDate.getFullYear();
                var month = ('0' + (targetDate.getMonth() + 1)).slice(-2);
                var day = ('0' + targetDate.getDate()).slice(-2);
                var hours = ('0' + targetDate.getHours()).slice(-2);
                var minutes = ('0' + targetDate.getMinutes()).slice(-2);

                return `${year}-${month}-${day}T${hours}:${minutes}`;
            }
        });

    </script>
</body>

</html>
