@model TrackingSheet.Models.CombinedDataViewModel


@{
    ViewData["Title"] = "Home Page";
   
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        /* Стили для кнопки, имитирующей btn-info из Bootstrap */
        .btn-info {
            background-color: #17a2b8; /* Цвет фона Bootstrap btn-info */
            color: #fff; /* Цвет текста */
            border: 1px solid transparent; /* Граница с прозрачным цветом */
            border-radius: 0.25rem; /* Радиус скругления углов */
            padding: 0.60rem 1.125rem; /* Отступы внутри кнопки */
            font-size: 1rem; /* Размер шрифта */
            font-weight: 400; /* Толщина шрифта */
            text-align: center; /* Выравнивание текста */
            text-decoration: none; /* Убирает подчеркивание текста */
            display: inline-block; /* Отображение в виде строки */
            cursor: pointer; /* Курсор указателя */
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Плавный переход цвета фона и границы */
        }

            /* Стили для кнопки при наведении */
            .btn-info:hover {
                background-color: #138496; /* Цвет фона при наведении */
                border-color: #117a8b; /* Цвет границы при наведении */
            }

            /* Стили для кнопки при нажатии */
            .btn-info:active {
                background-color: #117a8b; /* Цвет фона при нажатии */
                border-color: #10707f; /* Цвет границы при нажатии */
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Тень для кнопки при нажатии */
            }
    </style>
</head>

<body>
    <h1>Главная</h1>
    <p style="margin-bottom: 20px;"></p>
    <div class="top-block">
        <div class="border rounded border-dark p-3">

            <h2>Суточная сводка</h2>
            <div class="border rounded shadow-sm p-3" style="margin-top: 10px; margin-left:20px">
                <table class="table table-striped" style="font-size: 14px; width: 95%; margin-left: 15px; margin-right: 15px; line-height: 1.5;">
                    <thead>
                        <tr>
                            <th scope="col">Дата/время</th>
                            <th scope="col">Смена</th>
                            <th scope="col">431</th>
                            <th scope="col">VSAT</th>
                            <th scope="col">Рейс</th>
                            <th scope="col">Сохраненное НПВ</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Cтатус</th>
                            <th scope="col">Метка</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var incident in Model.RecentIncidents)
                        {
                            <tr>
                                <td style="margin-left: 10px">@incident.Date</td>
                                <td>@incident.Shift</td>
                                <td>@incident.Reporter</td>
                                <td>@incident.VSAT</td>
                                <td>@incident.Run</td>
                                <td>@incident.SavedNPT</td>
                                <td>@incident.ProblemType</td>
                                <td>@incident.Solution</td>
                                <td>@incident.Status</td>
                                <td>@incident.HighLight</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>

