@model TrackingSheet.Models.CombinedDataViewModel


@{
    ViewData["Title"] = "Home Page";
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Разметка страницы</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            
            margin: 0;
            width: 100%;
        }

        .top-block {
            background-color: white;
            padding: 20px;
            text-align: center;
            flex: 1;
        }

        .bottom-blocks {
            display: flex;
           
            width: 100%;
            
            
        }

        .bottom-block {
            background-color: #F1F1F1;
            padding: 20px;
            text-align: center;
            width: 55%;
            display: flex;
            
            
           
        }

        .bottom-block:nth-child(2) {
            background-color: #F1F1F1;
            width: 45%;
            
        }

        .table-striped tbody td {
            padding: 2px; /* Уменьшение внутреннего отступа */
            line-height: 1.2; /* Настройка межстрочного интервала */
        }

        .card {
            width: 100%;
            justify-content: center;
        }
        

    </style>
</head>
<body>
    <div class="top-block">
        <div class="border rounded border-dark p-3">
           
            <h2>Суточная сводка</h2>
            <div class="border rounded shadow-sm p-3">
                <table class="table table-striped" style="font-size: 12px; width: 100%; margin-left: 15px; margin-right: 15px; line-height: 1.5;">
                    <thead>
                        <tr>
                            <th scope="col">Дата и время</th>
                            <th scope="col">Смена</th>
                            <th scope="col">431</th>
                            <th scope="col">VSAT</th>
                            <th scope="col">Рейс</th>
                            <th scope="col">Сохраненное НПВ</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Cтатус</th>
                            <th scope="col">Метка</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var incident in Model.RecentIncidents)
                        {
                            <tr>
                                <td>@incident.Date</td>
                                <td>@incident.Shift</td>
                                <td>@incident.Reporter</td>
                                <td>@incident.VSAT</td>
                                <td>@incident.Run</td>
                                <td>@incident.SavedNPT</td>
                                <td>@incident.ProblemType</td>
                                <td>@incident.Solution</td>
                                <td>@incident.Status</td>
                                <td>@incident.HighLight</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ---------------------------------------------------Ниже код Таблицы статистики за первый квартал--------------------------------------------------- -->
    <div class="bottom-blocks">
        <div class="bottom-block">
            <div class="border rounded border-dark p-3" style="width: 50%; height: 70%">
                <h3>Сводная статистика за Q1</h3>
                <div class="border rounded shadow-lg p-3">
                    <table class="table table-striped" style="font-size: 12px; width:70%; max-height: 50%; margin-left: 15px; margin-right: 15px">
                        <thead>
                            <tr>
                                <th scope="col">Тип Проблемы</th>
                                <th scope="col">Количество обращений, шт</th>
                                <th scope="col">Количество закрытых обращений, шт</th>
                                <th scope="col">Сохраненное НПВ, ч</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stat in Model.FirstQuarterStatistics)
                            {
                                <tr> 
                                    <td>@stat.ProblemType</td>
                                    <td>@stat.Count</td>
                                    <td>@stat.TotalSuccessFailCount</td>
                                    <td>@stat.SavedNPTCount</td>
                                </tr>
                            }
                            <tr>
                                <td>Суммарно</td>
                                <td>@Model.FirstQuarterSTotalProblemTypes</td>
                                <td>@Model.FirstQuarterSTotalClosedCount</td>
                                <td>@Model.FirstQuarterSTotalSavedNPT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="border rounded border-dark p-3" style="width: 50%; height: 70%">
                <h3>Сводная статистика за Q2</h3>
                <div class="border rounded shadow-lg p-3">
                    <table class="table table-striped" style="font-size: 12px; width:70%; max-height: 50%; margin-left: 15px; margin-right: 15px">
                        <thead>
                            <tr>
                                <th scope="col">Тип Проблемы</th>
                                <th scope="col">Количество обращений, шт</th>
                                <th scope="col">Количество закрытых обращений, шт</th>
                                <th scope="col">Сохраненное НПВ, ч</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var stat in Model.SecondQuarterStatistics)
                            {
                                <tr>
                                    <td>@stat.ProblemType</td>
                                    <td>@stat.Count</td>
                                    <td>@stat.TotalSuccessFailCount</td>
                                    <td>@stat.SavedNPTCount</td>
                                </tr>
                            }
                            <tr>
                                <td>Суммарно</td>
                                <td>@Model.SecondQuarterSTotalProblemTypes</td>
                                <td>@Model.SecondQuarterSTotalClosedCount</td>
                                <td>@Model.SecondQuarterSTotalSavedNPT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        
        <!-- ---------------------------------------------------Ниже код java Script c графиками за Q1 --------------------------------------------------- -->

        
        <div class="bottom-block">
            <div class="border rounded border-dark p-3" style="width: 100%">
                <h2>График статистики за Q1</h2>
                <div class="card">
                    <div class="card-header">
                        Bar Chart
                    </div>
                    <div class="card-body" style="width: 90%; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Pie Chart
                    </div>
                    <div class="card-body" style="width: 70%; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('/Home/GetFirstQuarterStatistics')
                .then(response => response.json())
                .then(data => {
                    const labels = data.map(stat => stat.problemType);
                    const countData = data.map(stat => stat.count);
                    const successFailData = data.map(stat => stat.totalSuccessFailCount);
                    const savedNPTData = data.map(stat => stat.savedNPTCount);

                    const barCtx = document.getElementById('barChart').getContext('2d');
                    new Chart(barCtx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    label: 'Количество обращений, шт',
                                    data: countData,
                                    backgroundColor: 'rgba(153, 102, 255, 0.6)',
                                    borderColor: 'rgba(0, 0, 0, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Количество закрытых обращений, шт',
                                    data: successFailData,
                                    backgroundColor: 'rgba(0, 0, 128, 0.6)',
                                    borderColor: 'rgba(0, 0, 0, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Сохраненное НПВ, ч',
                                    data: savedNPTData,
                                    backgroundColor: 'rgba(0, 255, 0, 0.6)',
                                    borderColor: 'rgba(0, 0, 0, 1)',
                                    borderWidth: 1
                                }
                            ]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    const pieCtx = document.getElementById('pieChart').getContext('2d');
                    new Chart(pieCtx, {
                        type: 'pie',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    data: countData,
                                    backgroundColor: [
                                        'rgba(255, 0, 0, 0.6)',
                                        'rgba(0, 255, 0, 0.6)',
                                        'rgba(0, 0, 255, 0.6)',
                                        'rgba(255, 255, 0, 0.6)',
                                        'rgba(255, 0, 255, 0.6)',
                                        'rgba(0, 255, 255, 0.6)',
                                        'rgba(128, 0, 0, 0.6)',
                                        'rgba(0, 128, 0, 0.6)',
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(0, 0, 0, 0, 1)',
                                        'rgba(0, 0, 0, 0, 1)',
                                    ],
                                    borderWidth: 1
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Количество обращений по типам проблем'
                                }
                            }
                        }
                    });
                });
        });
    </script>
    </div>
</body>
</html>
