@model TrackingSheet.Models.VSATdata.VsatInfo

@{
    ViewData["Title"] = "Информация по VSAT";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/js/vsat_bha.js" defer></script>

</head>

<body>
    <h1>
        <label>VSAT КНБК</label>
    </h1>
    <h2>
        <label>Узнать информацию по VSAT</label>
    </h2>
    <section class="table__header">
        <div class="header_vsat">
            <label class="vsat_label", id="vsat_label">Информация по VSAT 1</label>

            <form class="ip_select_container" asp-action="SetIpAddress" method="post">
                <div class="ip_select_container">
                    <div class="input-field">
                        <div class="select-wrapper">
                            <select id="ipPart" name="ipPart">
                            </select>
                            <div class="select-arrow">
                                <svg class="icon_dropdown_arrow" viewBox="0 0 24 24">
                                    <path d="M6 9L12 15L18 9"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="button-container-stat">
                        <button type="submit" class="btn btn-primary">
                            Выбрать VSAT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <div class="container-vsat">
        @if (Model != null)
        {
            <div class="container-vsat-info">
                <p class="info_header">Номер скважины:</p> 
                <p class="info_value">@Model.WELL_NAME</p>
                <p class="info_header">Куст:</p> 
                <p class="info_value">@Model.FCTY_NAME</p>
                <p class="info_header">Заказчик:</p> 
                <p class="info_value">@Model.CPNM_NAME</p>
                <p class="info_header">Месторождение:</p> 
                <p class="info_value">@Model.OOIN_NAME</p>
                <p class="info_header">Рейс:</p> 
                <p class="info_value">@Model.MWRU_NUMBER</p>
                <p class="info_header">Секция:</p> 
                <p class="info_value">@Model.MWRU_HOLE_DIAMETER</p>
            </div>
        }
        else
        {
            <p>Нет данных.</p>
        }
    </div>

    <div class="table_container">
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Расстояние от низа</th>
                        <th>Элемент КНБК</th>
                        <th>Серийный №</th>
                        <th>Паспорт</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var position in Model.MWRC_POSITION.OrderBy(kv => kv.Value))
                    {
                        <tr>
                            <td>@position.Value</td>
                            <td>@(Model.MWRC_OFFSET_FROM_BIT.ContainsKey(position.Key) ? Model.MWRC_OFFSET_FROM_BIT[position.Key] : "")</td>
                            <td>@Html.DisplayFor(model => Model.NEW_REAL_NAME[position.Key])</td>
                            <td>@Html.DisplayFor(model => Model.MWCO_SN[position.Key])</td>
                            <td>
                                <a href="@Url.Action("SearchAndOpenFolders", "VsatInfo", new { folderName = Model.MWCO_SN[position.Key] })" target="_blank" class="btn btn-primary btn-sm">
                                    <svg class="icon_passport" viewBox="0 0 24 24">
                                        <path d="M6.5 20H5C3.89543 20 3 19.1046 3 18V4C3 2.89543 3.89543 2 5 2H19C20.1046 2 21 2.89543 21 4V18C21 19.1046 20.1046 20 19 20H17.5M12 19C13.6569 19 15 17.6569 15 16C15 14.3431 13.6569 13 12 13C10.3431 13 9 14.3431 9 16C9 17.6569 10.3431 19 12 19ZM12 19L12.0214 18.9998L8.82867 22.1926L6.00024 19.3641L9.01965 16.3447M12 19L15.1928 22.1926L18.0212 19.3641L15.0018 16.3447M9 6H15M7 9.5H17"/>
                                    </svg>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>    

</body>