@model TrackingSheet.Models.VSATdata.VsatInfo

@{
    ViewData["Title"] = "Latest Vsat Info";
}

<h2>Информация по VSAT</h2>

@if (Model != null)
{
    <div>
        <h4>Общая информация</h4>
        <p><strong>Номер скважины:</strong> @Model.WELL_NAME</p>
        
        <p><strong>Номер куста:</strong> @Model.FCTY_NAME</p>
       
        <p><strong>Заказчик:</strong> @Model.CPNM_NAME</p>
        <p><strong>Месторождение:</strong> @Model.OOIN_NAME</p>

        <h4>Текущий рейс</h4>
        <p><strong>Рейс:</strong> @Model.MWRU_NUMBER</p>
       
        <p><strong>Секция:</strong> @Model.MWRU_HOLE_DIAMETER</p>

        <h4>Текущая КНБК</h4>
        <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Расстояние от низа</th>
                    
                    <th>Элемент КНБК</th>
                    <th>С/Н</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var position in Model.MWRC_POSITION.OrderBy(kv => kv.Value))
                {
                    <tr>
                        <td>@position.Value</td>
                        <td>@(Model.MWRC_OFFSET_FROM_BIT.ContainsKey(position.Key) ? Model.MWRC_OFFSET_FROM_BIT[position.Key] : "")</td>
                        
                        <td>@(Model.NEW_REAL_NAME.ContainsKey(position.Key) ? Model.NEW_REAL_NAME[position.Key] : "")</td>
                        <td>@(Model.MWCO_SN.ContainsKey(position.Key) ? Model.MWCO_SN[position.Key] : "")</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
}

else
{
    <p>No data available.</p>
}
